.contact-page .header {
    text-align: center;
    background-color: #004a56;
    color: #fff;
    padding: 30px 0;
  }
  
  .contact-page .header h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .contact-page .header p {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
  .contact-page .map-container {
    margin-top: 30px;
  }

  .icon-custom {
    color: #dfcb6d;
    font-size: 1.5rem; 
  }

  .col-md-4{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .half-text {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 10px 20px;
    position: relative;
    display: inline-block;
    overflow: hidden;
  }
  
  .half-text .top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50%;
    background-color: #004d40; /* Color superior */
  }
  
  .half-text .bottom {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00796b; /* Color inferior */
  }