.contact-page .header {
    text-align: center;
    background-color: #004a56;
    color: #fff;
    padding: 30px 0;
  }
  
  .contact-page .header h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .contact-page .header p {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
  .contact-page .map-container {
    margin-top: 30px;
  }

  .icon-custom {
    color: #dfcb6d;
    font-size: 1.5rem; 
  }

  .col-md-4{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .half-text {
  font-size: 20px; 
  text-align: center;
  color: white;
  padding: 10px 20px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  z-index: 1; 
}

.half-text .top,
.half-text .bottom {
  position: absolute;
  left: 0;
  right: 0;
  content: '';
  z-index: -1; /* Envía los colores de fondo detrás del texto */
}

.half-text .top {
  top: 0;
  bottom: 50%;
  background-color: rgba(0, 77, 64, 0.7); /* Color superior con opacidad */
  position: absolute;
  transform: translateX(-15px);
}

.half-text .bottom {
  top: 50%;
  bottom: 0;
  left: 15px;
  background-color: rgba(0, 121, 107, 0.7); /* Color inferior con opacidad */
}